# Ignorar archivos y carpetas innecesarias
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache

# Ignorar archivos de configuración locales
.env
.env.local
.env.*.local
!.env.example

# Ignorar archivos del sistema y dependencias
.DS_Store
*.log
*.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
composer.lock
package-lock.json

# Ignorar archivos de Git y Docker
.git
.gitignore
.dockerignore

# Ignorar archivos de Vite y frontend
public/hot
public/storage
public/build
.vite
.vitepress
.vscode
.idea
