node_modules/
vendor/
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
bootstrap/cache/
.env
.env.local
.env.*.local
!.env.example
.DS_Store
*.log
*.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
composer.lock
package-lock.json
.git/
.gitignore
.dockerignore
public/hot
public/storage
public/build
.vite/
.vitepress/
.vscode/
.idea/
tests/
phpunit.xml